.logo {
  height: 5rem;
  width: 10rem;
  margin-top: 10px;
  margin-left: 10px;
}

.login-div {
    width: 30%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
  }

.approved {
  pointer-events: none;
}

.back-button {
  float : left;
	margin-top: -1rem;
}
.logout-button{
  float: right;
}

.login-first-div {
  padding: 10px;
  /* margin: 100px; */
  /* background: blue; */
  text-align: center;
  margin-top: 10rem;
}