<template>
    
        <template if:true={showSpinner}>
            <lightning-spinner alternative-text="Loading" size="large"></lightning-spinner>
        </template>
        <div class="slds-grid slds-wrap slds-grid_align-spread slds-p-horizontal_small slds-m-bottom_medium">
            
                <lightning-button  class = "slds-p-around_medium back-button" variant="Brand" label="Back" onclick={backClickHandler}></lightning-button>
           
            <!-- <template if:false={showBackButton}>
                <img class="logo" src={cloudwerxLogoURL} alt="Cloudwerx Logo">
            </template> -->   
            
               <!--  <lightning-button  class = "slds-p-around_medium logout-button" variant="Brand" label="Log Out" onclick={logoutClickHandler}></lightning-button> -->
            
        </div>
        <!-- <template if:true={showBackButton}>
            <lightning-button  class = "slds-p-around_medium back-button" variant="Brand" label="Back" onclick={backClickHandler}></lightning-button>
        </template> -->
        <!-- <template if:false={showBackButton}>
            <img class="logo" src={cloudwerxLogoURL} alt="Cloudwerx Logo">
        </template> -->   
        <!-- <template if:true={showMasterDiv}>
            <lightning-button  class = "slds-p-around_medium logout-button" variant="Brand" label="Log Out" onclick={logoutClickHandler}></lightning-button>
        </template> -->
    
    <lightning-layout>

    </lightning-layout>
    
   <!--  <template if:false={showMasterDiv}>
        <div class="login-first-div">
            <h1>Please Login First</h1>
            <a href={loginPageLink} >Click Here To Login</a>
        </div>
    </template> -->

    <!-- isonboardingcomplete = {isOnboardingComplete} -->

    <template if:true={showMasterDiv}>
        
        <div class="master-card">
            <lightning-tabset active-tab-value={defaultTab}>
                <lightning-tab label="Employee Info" value="one">
                    <c-onboarding_-app_-contact_-form 
                        contacttoshow = {contactId}
                        showform
                        usertype = {userType}>
                    </c-onboarding_-app_-contact_-form>   
                </lightning-tab>
                <lightning-tab label="Employee Tasks" value="two">
                    <c-onboarding_-employee-cmp
                        contact = {contactId}
                        usertype = {userType}>
                    </c-onboarding_-employee-cmp>
                </lightning-tab>
                <lightning-tab label="Employer Tasks" value="three">
                    <c-onboarding_-employer-task-view 
                        contact-id = {contactId}
                        usertype = {userType}>
                    </c-onboarding_-employer-task-view>

                    
                </lightning-tab>
                <lightning-tab label="FAQ's" value="Four">
                    <c-onboarding_-F-A-Qs
                    contact-id = {contactId}>
                    </c-onboarding_-F-A-Qs>
                    
                </lightning-tab>
            </lightning-tabset>
        </div>
        
    </template>
 
    
    
</template>