<template>
            <template if:true={showform}>
                <lightning-card title="Contact Details" icon-name="custom:custom63">
                <div class="slds-m-around_medium">
                    <lightning-layout>
                        <lightning-layout-item size="6">
                            <lightning-input type="text" label={name} name="name" value={cons.Name} onchange={handleInputChange} placeholder="Your full name" class=" form in"></lightning-input>
                            <lightning-input type="tel" label={mobile} name="mobile" value={cons.MobilePhone} onchange={handleInputChange} placeholder="10 digit mobile number" class="form in" max-length="10" min-length="10" pattern="[0-9]{10}"></lightning-input>
                        </lightning-layout-item>
                        <lightning-layout-item size="6">
                            <lightning-input type="email" label={email} name="email" value={cons.Email} onchange={handleInputChange} placeholder="Valid email address" class="form in"></lightning-input>
                            <lightning-input type="date" label={birthDate} name="birthdate" value={cons.Birthdate} onchange={handleInputChange} placeholder="Date of birth" class="form in"></lightning-input>
                        </lightning-layout-item>
                    </lightning-layout>
                <!--<lightning-input type="text" label={name} name="name" value={cons.Name} onchange={handleInputChange} placeholder="Your full name" class="in"></lightning-input>
                <lightning-input type="tel" label={mobile} name="mobile" value={cons.MobilePhone} onchange={handleInputChange} placeholder="10 digit mobile number" class="in"></lightning-input>
                <lightning-input type="email" label={email} name="email" value={cons.Email} onchange={handleInputChange} placeholder="Valid email address" class="in"></lightning-input>
                <lightning-input type="date" label={birthDate} name="birthdate" value={cons.Birthdate} onchange={handleInputChange} placeholder="Date of birth" class="in"></lightning-input>
                -->
                <br/>
                <div class="slds-clearfix">
                    <lightning-button label = "Save" onclick = {handleSave} class="in slds-align_absolute-center"></lightning-button>
                </div><br/>

                </div>
                </lightning-card>
            </template>

            <template if:true={showinformationform}>
                <lightning-card title="Employee Information Form" icon-name="custom:custom63">
                    <div class="slds-m-around_medium">
                <lightning-input type="text" label={uanNumber} name="uanNumber" value={cons.UAN_Number__c} onchange={handleInputChange} placeholder="Your UAN number" class="in"></lightning-input>
                <!--<lightning-input type="tel" label={salaryCtc} name="salaryCtc" value={cons.Salary_CTC__c} onchange={handleInputChange} placeholder="Salary CTC offered" class="in"></lightning-input>-->
                
                <br/>
                <!--<div class="slds-clearfix">
                    <lightning-button label = "Save" onclick = {handleSave} class="in slds-align_absolute-center"></lightning-button>
                </div>--><br/>

                    </div>
                </lightning-card>
            </template>

            <template if:true={error}>
                <!--<c-error-panel errors={error}></c-error-panel>-->
            </template>
</template>