<template>
    <lightning-input 
        type="toggle" 
        label="Basic option"
        variant="label-hidden" 
        message-toggle-active="Complete"
        message-toggle-inactive={getInactiveMsg}
        checked={checked}
        disabled={buttonDisabled}
        onchange={handleToggle}>
    </lightning-input>
</template>