<template>
    
    <template if:true={hideDatatable}>
        <h1 style="text-align: center;"> No tasks to show </h1>
    </template>

    <template if:false={hideDatatable}>
        <template if:true={showLoadingSpinner}>
            <lightning-spinner alternative-text="Loading......" size="medium"></lightning-spinner>
        </template>
    </template>

    <template if:true={showDatatable}>
    <lightning-layout>
        <lightning-layout-item>
    <div class="slds-grid slds-grid_vertical">
        <div class="slds-grid slds-grid_align-spread">
            <h2><lightning-icon icon-name="custom:custom63" size="medium" class="slds-m-right_small"></lightning-icon> Tasks</h2>
        </div>
        <div class="employee slds-scrollable">
            
            <c-onboarding_-file-upload-data-table key-field="Id"
                        data={data}
                        columns={columns}
                        onuploadfinished={handleUploadFinished}
                        show-row-number-column
                        hide-checkbox-column
                        onsave = {handleSave}
                        draft-values={draftValues}
                        onselectedrec={handleSelectedRec}
                        onrowaction={callRowAction}>
            </c-onboarding_-file-upload-data-table>
                
            <!-- <c-onboarding_-file-upload-data-table key-field="Id"
            data={data}
            columns={columns}
            onuploadfinished={handleUploadFinished}
            show-row-number-column
            hide-checkbox-column
            onsave = {handleSave}
            draft-values={draftValues}
            onselectedrec={handleSelectedRec}
            onrowaction={callRowAction}>
            </c-onboarding_-file-upload-data-table> -->

            <!-- <table class="slds-table slds-table_bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>Subject</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Rohit</td>
                        <td>djf v;djfvojdfv</td>
                        <td>toggle bttn</td>
                    </tr>
                </tbody>
            </table> -->
        </div> 
        <template if:true={showLoadingSpinner}>
            <lightning-spinner alternative-text="Uploading......" size="medium"></lightning-spinner>
        </template>
        <div class="saveButton slds-clearfix">
            <lightning-button label = "Submit" onclick = {openFeedbackModal} class="slds-align_absolute-center" disabled={isSaveButtonDisabled}></lightning-button>
        </div>
    </div>            
    <template if:true={isFeedbackModalOpen}>            
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-02" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeFeedbackModal}>
                        <lightning-icon icon-name="utility:close"
                            alternative-text="close"
                            variant="inverse"
                            size="small" ></lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                    <h2 id="modal-heading-03" class="slds-text-heading_medium slds-hyphenate">Onboarding Experience Feedback</h2>
                </header>
                
                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-3">

                    <div style="margin-left:4%">
                        <div>
                            <lightning-slider label="Rating" name="Onboarding Rating" step="10" value="0" onchange={handleChange}></lightning-slider>
                            <!--<input id="volume" type="range" name="Onboarding Rating" min="0" max="10" onchange={handleChange}>
                            <label for="volume">Rating</label>-->
                            <br/>
                            <lightning-textarea label="Comments" name="Onboarding Text" onchange={handleChange} type="textarea" placeholder="" required="true"></lightning-textarea>
                        </div><br/>
                        
                        
                    </div><br/><br/>

                </div>

                <footer class="slds-modal__footer">
                    <button class="slds-button slds-button_neutral" onclick={closeFeedbackModal} title="Cancel">Cancel</button>
                    <button class="slds-button slds-button_brand" onclick={submitFeedbackDetails} title="Submit">Submit</button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
    <template if:true={isOpen}>
        
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-02" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                
                <header style="width:120%; align-self: center;" class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                        <lightning-icon icon-name="utility:close"
                            alternative-text="close"
                            variant="inverse"
                            size="small" ></lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                </header>
                
                <div style="height:700px; width:120%; align-self: center;" class="slds-modal__content slds-p-around_medium" id="modal-content-id-2">
                        <c-pdf-generate
                            taskid = {recId}>
                        </c-pdf-generate>
                </div>

            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
</lightning-layout-item>
</lightning-layout>
</template>
</template>