<apex:component access="global" controller="Onboarding_FinalEmailBodyController">
    <apex:attribute name="theContactID" description="contactId" type="string" assignTo="{!conID}"/>
    <h3>Employer Tasks</h3>
    <table class="table">
        <thead>    
            <tr>
                <th></th>
                 <th style= "text-align: left; padding-left : 10px">Subject</th> 
            </tr>
        </thead>       
        <tbody>
        	<apex:repeat value="{!employerTasks}" var="task">
        		<tr>
                    <td>
                        <!-- <apex:form>
                             <apex:inputCheckbox value="{!task.Is_Completed__c}"/>
                        </apex:form>
                        -->
                       <!--<input  {!IF(task.Is_Completed__c == true, 'type="checkbox"  checked = "none"','type="checkbox"  checked = "none"')}</input> -->
                      <input type="checkbox" id="taskCheckbox" name="taskCheckbox" value="true" checked = "none"></input>
                    </td>
             		
             		<td> <label style= "text-align: left; padding-left : 10px" for="none">{!task.Subject}</label></td>                                       
         		</tr>
            </apex:repeat>
        </tbody>   
    </table>
<h3>Employee Tasks</h3>
<table class="table" style = "margin-top: 20px" >
        <thead>    
            <tr>
                <th></th>
                 <th style= "text-align: left; padding-left : 10px">Subject</th> 
            </tr>
        </thead>       
        <tbody>
        	<apex:repeat value="{!employeeTasks}" var="task">
        		<tr>
                    <td>
                        <!-- <apex:form>
                             <apex:inputCheckbox value="{!task.Is_Completed__c}"/>
                        </apex:form>
                        -->
                       <!--<input  {!IF(task.Is_Completed__c == true, 'type="checkbox"  checked = "none"','type="checkbox"  checked = "none"')}</input> -->
                      <input type="checkbox" id="taskCheckbox" name="taskCheckbox" value="true" checked = "none"></input>
                    </td>
             		
             		<td> <label style= "text-align: left; padding-left : 10px" for="none">{!task.Subject}</label></td>                                         
         		</tr>
            </apex:repeat>
        </tbody>   
    </table>
</apex:component>