<template>

    <template if:true={hideDatatable}>
        <h1 style="text-align: center;"> No tasks to show </h1>
    </template>

    <template if:false={hideDatatable}>
        <template if:true={showLoadingSpinner}>
            <lightning-spinner alternative-text="Loading......" size="medium"></lightning-spinner>
        </template>
    </template>

    <template if:true={showDatatable}>
    <div class="slds-grid slds-grid_vertical">
        <div class="slds-grid slds-wrap slds-grid_align-spread slds-p-horizontal_small slds-m-bottom_medium">
            <h2><lightning-icon icon-name="custom:custom63" size="medium" class="slds-m-right_small"></lightning-icon> Tasks</h2>
            <lightning-button variant="Brand" label="Add New Task" onclick={openTaskModal} class="hideButton"></lightning-button>
        </div>
        <div class="employer slds-scrollable">            
            <c-onboarding_-file-upload-data-table key-field="Id"
                    data={data}
                    columns={columns}
                    onselectedrec={handleSelectedRec}
                    show-row-number-column
                    hide-checkbox-column>
            </c-onboarding_-file-upload-data-table>
            <!-- <div class="slds-scrollable">
                <table class="slds-table slds-table_bordered">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Subject</th>
                            <th>Description</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <template for:each={data} for:item="task">
                            <tr key={data.Id} class="slds-line-height_reset first-class">
                                <td class="slds-col">
                                    {srno}     
                                </td>
                                <td>
                                    {task.Subject}
                                </td>
                                <td>
                                    {task.Description}
                                </td>
                                <td>
                                    <c-onboarding_-toggle-button-output
                                        checked = {task.Is_Completed__c}>
                                    </c-onboarding_-toggle-button-output>
                                    
                                </td>
                            </tr>
                        </template>
                        
                    </tbody>
                </table>
            </div> -->
        </div>
        <template if:true={showLoadingSpinner}>
            <lightning-spinner alternative-text="Uploading......" size="medium"></lightning-spinner>
        </template>
    </div>
        
<!-- *********************************** Modal ************************************************** -->
    <template if:true={isTaskModalOpen}>
            
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-02" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeTaskModal}>
                        <lightning-icon icon-name="utility:close"
                            alternative-text="close"
                            variant="inverse"
                            size="small" ></lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                    <h2 id="modal-heading-03" class="slds-text-heading_medium slds-hyphenate">Add new task</h2>
                </header>
                
                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-3">

                    <div style="margin-left:4%">
                        
                        <lightning-combobox
                            name="taskType"
                            label="Task Type"
                            value="None"
                            placeholder="Type of task - Employee/Employer"
                            options={options}
                            onchange={handleInputChange}
                            required="true">
                        </lightning-combobox>
                        <br/>
                        <lightning-input type="text" label="Subject" name="subject" onchange={handleInputChange} placeholder="" class="" required="true"></lightning-input>
                        <br/>
                        <lightning-textarea label="Description" name="description" onchange={handleInputChange} type="textarea" placeholder="" required="true"></lightning-textarea>
                        <br/>
                        <!--<lightning-textarea label="Employer Comments" name="comments" onchange={handleInputChange} type="textarea" placeholder=""></lightning-textarea>
                        <br/>-->
                        <!-- <lightning-layout>
                            <lightning-layout-item size="6">
                                <lightning-input type="checkbox" label="Is upload required?" name="upload" onchange={handleInputChange} placeholder="" class=""></lightning-input>
                            </lightning-layout-item>
                        </lightning-layout> -->
                        
                    </div><br/><br/>

                </div>

                <footer class="slds-modal__footer">
                    <button class="slds-button slds-button_neutral" onclick={closeTaskModal} title="Cancel">Cancel</button>
                    <button class="slds-button slds-button_brand" onclick={createNewTask} title="Add">Add</button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>

    </template>
    
</template>