.login-div {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

.approved {
  pointer-events: none;
}

.newTask-button{
  float: inline-start;
  float: right;
  padding-right: 20px;
}

.a{
  display: inline;
}