.slds-container_large{
    margin:0 auto 2rem;
}
.tiles-wrapper{
    margin:0 auto;
    justify-content: center;
}
.tile-block{
    max-width:30%;
    width:100%;
    height:250px;
    margin:2px;
    border:1px solid #ccc;
    border-radius:0.5rem;
    position:relative;
    overflow:hidden;
}
.tile-block .content{
    position: absolute;
    content:"";
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
    font-size: 1.5rem;
    font-weight:600;
    color: #fff;
    background:rgba(0,0,0,0.225);
}
.tile-block{
    background-size:cover;
    background-position:center center;
    width:100%;
}
.title-block1{
    background:url('/resource/OnboardingTile') no-repeat;
    background-size: contain;
    background-position: right;
}
.title-block2{
    background:url(/resource/Certification) no-repeat;
    background-size: 110% 80%;
    background-position: center;
}
.title-block3{
    background:url(/resource/SkillAnalyzer) no-repeat;
    background-size: 100% 100%;
    background-position: center;
}
.title-block4{
    background:url(/resource/CandidateEvaluator) no-repeat;
    background-size: 110% 80%;
    background-position: center;
}
.title-block5{
    background: url(/resource/Attendance) no-repeat;
    background-size: 150% 100%;
    background-position: center;
}
.title-block6{
    background: url(/resource/Process) no-repeat;
    background-size: 100% 100%;
    background-position: center;    
}