<template>
    <div class="slds-container_large slds-theme_default">
        <div class="slds-grid slds-wrap tiles-wrapper">        
            <a class="tile-block title-block1">
                <div class="content" onclick={navigateToOnboarding}>
                    Onboarding App
                </div>
            </a>    
            <a class="tile-block title-block2">
                <div class="content" onclick={navigateToCertsTracker}>
                    Certification Tracker
                </div>
            </a>    
            <a class="tile-block title-block3">
                <div class="content" onclick={navigateToSkillAnalyzer}>
                    Skill Analyzer
                </div>
            </a>    
            <a class="tile-block title-block4">
                <div class="content" onclick={navigateToCandidateEvaluator}>
                    Candidate Evaluator
                </div>
            </a>    
            <a class="tile-block title-block5">
                <div class="content" onclick={navigateToAttendanceApp}>
                    Attendance App
                </div>
            </a>    
            <a class="tile-block title-block6">
                <div class="content" onclick={navigateToProcessInsight}>
                    Process Insight
                </div>
            </a>        
        </div>
    </div>
</template>