<template>
  <h1 class="faq-heading">Frequently Asked Questions</h1>


  <lightning-accordion
    allow-multiple-sections-open
    onsectiontoggle={handleSectionToggle}
    active-section-name={activeSections}
  >
    <template for:each={faqs} for:item="faq">
      <lightning-accordion-section
        key={faqs.Id}
        label= {faq.Question__c}
      >
        <p class="answer-p">
          Answer : {faq.Answer__c}
        </p>
      </lightning-accordion-section>
    </template>
  </lightning-accordion>
</template>