<!--
    Copyright (c) 2017-2018 FinancialForce.com, inc. All rights reserved.
-->
<apex:page standardController="ffrr__RevenueRecognitionTransaction__c" extensions="ffrr.SummarizeTransactionsController" lightningStylesheets="true">
    <c:GenericButtonConfirmation Title="Revenue Recognition Transaction"
                                 SubTitle="{!$Label.ffrr__selectrevenuepagesummarize}"
                                 CanRender="{!!Summarized}"
                                 OkText="{!$Label.ffrr__revenuerecognitiondialogok}"
                                 CancelText="{!$Label.ffrr__revenuerecognitiondialogcancel}"
                                 ConfirmText="{!$Label.ffrr__selectrevenuepagesummarize}"
                                 SaveMethod="{!summarizeTransactions}"
                                 CancelMethod="{!cancel}"/>
</apex:page>