<apex:page standardController="ffrr__RevenueRecognitionTransaction__c" lightningStylesheets="true" recordSetVar="selectedRRT" extensions="ffrr.RRTCreateJournalsController"
 action="{!initializeForJournalUsingSummaries}">
	<c:GenericButtonConfirmation Title="{!$Label.ffrr__rrttojournaltitle}" SubTitle="{!$Label.ffrr__selectrrtforjournalcreation}"
	 CanRender="{!eligibleToProceed}" OkText="{!$Label.ffrr__revenuerecognitiondialogok}" CancelText="{!$Label.ffrr__doyouwanttocontinueno}"
	 ConfirmText="{!$Label.ffrr__revenuerecognitioncontinuebutton}" SaveMethod="{!proceed}" CancelMethod="{!cancel}" />
</apex:page>