<!-- fflib_vfbatchprogressinfo -->
<apex:page controller="ffrr.fflib_BatchProgressInfoController" tabStyle="ffrr__fflib_BatchProcess__c" lightningStylesheets="true">
	<apex:form >
		<apex:sectionHeader title="{!$Label.ffrr__fflib_batchprocessprogresstitle}"/>
		<apex:pageBlock title="{!$Label.ffrr__fflib_batchprocessprogresssectiontitle}">
			<apex:pageBlockButtons location="top">
				<apex:commandButton value="{!$Label.ffrr__fflib_batchprocessprogressclosebutton}" action="{!close}"/>
			</apex:pageBlockButtons>
			<apex:pageMessages />
			<apex:pageBlockSection id="jobStatus" columns="1" collapsible="false">
				
				<c:fflib_batchInfo id="jobStatus"
					batchControlRecordId="{!BatchControlRecordIdAttr}"
					batchJobClass="{!BatchJobClassAttr}"
				/>
				
				<apex:actionPoller action="{!redirectToBatchControl}" rerender="redirect" interval="5"/>
				
			</apex:pageBlockSection>
		</apex:pageBlock>
	</apex:form>
</apex:page>