<!--
    Copyright (c) 2018 FinancialForce.com, inc. All rights reserved.
-->
<apex:page standardController="ffrr__RevenueForecastTransaction__c" extensions="ffrr.ForecastTransactionsControllerExtension" lightningStylesheets="true">
    <c:GenericButtonConfirmation Title="{!$Label.ffrr__revenuemanagement}"
                                 SubTitle="{!$Label.ffrr__lockunlock}"
                                 CanRender="{!!saved}"
                                 OkText="{!$Label.ffrr__revenuerecognitiondialogok}"
                                 CancelText="{!$Label.ffrr__revenuerecognitiondialogcancel}"
                                 ConfirmText="{!$Label.ffrr__revenuerecognitiondialogok}"
                                 SaveMethod="{!changeLockedStatuses}"
                                 CancelMethod="{!cancel}">
    </c:GenericButtonConfirmation>
</apex:page>