<apex:page standardController="ffrr__RevenueRecognitionScheduledJob__c">
<apex:sectionHeader title="{!$Label.ffrr__schedulejobrunbatchpagetitle}" subtitle="{!$Label.ffrr__schedulejobrunbatchpagesubtitle}" />
    <apex:pageMessage summary="{!$Label.ffrr__deprecatedfeature}" severity="warning" strength="3" />
</apex:page>