<apex:page lightningStylesheets="true" showHeader="false" sidebar="false">
<div class="chatterContainer" id="chatterContainer">
	<chatter:feedWithFollowers entityId="{!$CurrentPage.parameters.Id}" id="chatterRevRec"/>
</div>
</apex:page>