<apex:page controller="slack_essential.SlackController">
    <style>
        div#auraErrorMessage {
        	visibility: hidden
        }
    </style>
    <apex:stylesheet value="{!URLFOR($Resource.slack_essential__slds, 'assets/styles/salesforce-lightning-design-system-vf.min.css')}"/>

    <apex:includeLightning />
    <div id="slack" class="slds">

    </div>

    <script>
        $Lightning.use("{!JSENCODE(namespace)}:slackLightningOut", function() {
            $Lightning.createComponent(
            "{!JSENCODE(namespace)}:postToSlack",
            { recordId: '{!JSENCODE(recordId)}'},
            "slack",
            function(cmp) {
                console.log('component created');
                console.log(cmp);


            });
        });

    </script>
</apex:page>