<template>
    <!-- Login component -->
    <lightning-card>
        <div class="slds-text-align_center slds-text-heading_large"> Login </div>
    </lightning-card>
    
    <lightning-card>
        <div>
            <lightning-input type="email" label="Cloudwerx Email Address"  onchange={EmailInputChangeHandler}></lightning-input>
            <lightning-button variant="Brand" label="Login" onclick={LoginClickHandler}></lightning-button>
        </div>
    </lightning-card>
    
</template>