<template>
    <c-onboarding_-document-upload record-id={value}
                    accepted-file-formats={typeAttributes.acceptedFileFormats}
                    file-uploaded={typeAttributes.fileUploaded}
                    slack-message={typeAttributes.slackMessage}
                    information-form={typeAttributes.informationForm}
                    is-complete={typeAttributes.isComplete}>
    </c-onboarding_-document-upload>
</template>